.App {
  text-align: center;
  background-color: lightblue;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

 .container{
  background-image: url('./images/wood.jpg');
  width:500px;
  margin:0 auto;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.bc {
  height:50px;
  width:50px;
  background:radial-gradient(circle at 50px 50px, #000, #371c0e);  
  margin:10px;
  border-radius: 25px;
}
bc:hover {
  filter: brightness(120%);
}
.choiceBoard {
  display:flex;
  justify-content: center;
}
.peg {
  width:30px;
  height:30px;
  border:1px solid black;
  align-self: center;
  display:grid; 
  border-radius: 5px;
  grid-template-columns: 1fr 1fr;
}
.pegpin {
 border-radius:  10px;
    margin:2px;
}
button{
  background-color:#9a7439;
  color:white;
  height:50%;
  align-self: center;
  margin:8px;
}
.empty {
  background-color: lightblue;
  display:flex;
}
.top {
  background: url('./images/wood-tile.jpeg')center ;
  
}
.choice:hover {
  filter: brightness(200%)
}
.test {
  height:30px;
  background: url('./images/wood.jpg') ;
  width:358px;
  margin:0 auto;
}
.bordertop{
  border-radius: 20px 20px 0 0;
}
.borderbottom{
  border-radius: 0 0 20px 20px ;
}
.trial {
  width:500px;
  text-align: center;
  margin:0 auto;
  background-color: lightblue;
}

