.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.container{
  background-color: lightblue;
}

.bc {
  height:50px;
  width:50px;
  background-color: gray;
  margin:10px;
  display:inline-block;
  border-radius: 25px;
}

.choiceRow{
  display:inline-block;
}
.choice:hover {
  filter: brightness(50%);
}

.choiceDiv {
  width:400px;
  margin:0 auto;
  /* display:flex;
  justify-content: space-between;
  background-color: rgb(169, 96, 96); */
}
.first {
  width: 348px;
  background-color: rgb(190, 109, 109);
  border-radius: 25px 25px 0 0;
}
.second {
  width: 348px;
  background-color: rgb(190, 109, 109);
}
.peg {
  width:28px; 
  height:33px;
  margin:10px;
  align-self: center;
  background-color: gray;
}
.pegpin {
  width:10px;
  height:10px;
  margin:2px;
  border-radius:25px;
  display: inline-block;
}
.board {
  width:400px;
  margin:0 auto;
  background-color: brown;
}
.row {
  display: flex;
  justify-content: space-between;
}
button {
  
}
.empty {
  width:52px;
  background-color: lightblue;
   /* align-self: flex-end;  */
}

