html{
  background-color: lightblue;
  
}
.App {
  text-align: center;
}

.overflow {
  overflow: hidden;
}


.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.heading{
  width:500px;
  margin:0 auto;

}
body{
  font-family: 'Spectral SC', serif;
}
h1 {
  font-family: 'Spectral SC', serif;
  font-weight: bold;
  font-size:50px;
  color:white;
  background-color: black;
  margin:20px 40px;
  padding:0 10px ;
  border:1px solid black;
  
}
.instructions {
  
  border:1px solid black;
  margin:20px 40px;
}
.instructions:hover {
  color:white;
  background-color: black;
}
.instructions:focus {
  color:white;
  background-color: black;
}
 .container{
  background-image: url('./images/wood.jpg');
  width:500px;
  margin:0 auto;
  
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.bc {
  height:50px;
  width:50px;
  background:radial-gradient(circle at 50px 50px, #000, #371c0e);  
  margin:10px;
  border-radius: 25px;
}
bc:hover {
  filter: brightness(120%);
}
.choiceBoard {
  display:flex;
  justify-content: center;
}
.peg {
  width:30px;
  height:30px;
  border:1px solid black;
  align-self: center;
  display:grid; 
  border-radius: 5px;
  grid-template-columns: 1fr 1fr;
}
.pegpin {
 border-radius:  10px;
    margin:2px;
}
button{
  background-color:#9a7439;
  color:white;
  height:50%;
  align-self: center;
  margin:8px;
}
.empty {
  background-color: lightblue;
  display:flex;
}
.top {
  background: url('./images/wood-tile.jpeg')center ;
  
}
.choice:hover {
  filter: brightness(200%)
}
.test {
  height:30px;
  background: url('./images/wood.jpg') ;
  width:358px;
  margin:0 auto;
}
.bordertop{
  border-radius: 20px 20px 0 0;
}
.borderbottom{
  border-radius: 0 0 20px 20px ;
}
.trial {
  width:500px;
  text-align: center;
  margin:0 auto;
  background-color: lightblue;
}

.modal {
  position: fixed;
  text-align: center;
  /* border-radius: 25px; */
  z-index: 1;
  padding: 30px;
  left: 25%;
  right:25%;
  top: 15%;
 
  height: 60%;
  overflow: auto;
  background-color: white;
  border:2px solid black;
}
.close {
  position: fixed;
  right: 25%;
  top: 15%;
  width:35px;
  background-color: white;
  border:2px solid black;
  font-size: 35px;
  font-weight: bold;
}
#computerCodeExample img{
  max-width: 100%;
}